<template>
  <header>
    <button @click="addUser">Add user</button>
    {{ usersList }}
  </header>
</template>

<script>
import { mapGetters } from 'vuex';
import { mapActions } from 'vuex';

export default({
  name: 'Header',
  computed: {
    ...mapGetters('users', ['usersList'])
  },
  methods: {
    ...mapActions('users', ['newUser']),
    addUser() {
      const newUser = {
        name: 'Ivan',
        age: 10,
      };
      this.newUser(newUser);
    },
  }
})
</script>
