<template>
    <MoviesList :list="moviesList" />
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import MoviesList from './components/MoviesList.vue';

export default {
  name: 'App',
  methods: {
    ...mapActions('movies', ['fetchMovies'])
  },
  components: {
    MoviesList,
  },
  computed: {
    ...mapGetters('movies', ['moviesList'])
  },
}
</script>

<style>

</style>
