<template>
    <button @click="changeData">Click</button>
</template>

<script>

export default ({
  name: 'Item',
  props: {
    movie: {
      type: Object,
      required: true,
    }
  },

  data: () => {
    return ({
      array: [],
    })
  },

  methods: {
    changeData() {
      var rawData = JSON.stringify(rawData);
          //var data = JSON.parse(rawData);
          var title = this.movie.data.Search[0].Title;
          var year = this.movie.data.Search[0].Year;
          var poster = this.movie.data.Search[0].Poster;
          var newObj = {
            title: title,
            year: year,
            poster: poster,
          };

          this.array.push(newObj);
          console.log(this.array);
    }
  }
});
</script>
