<template>
  <section class="container">
    <ul v-if="isExist">
      <li v-for="(movie, key) in list" :key="key">
        <Item :movie="movie"/>
      </li>
    </ul>
  </section>
</template>

<script>
import Item from './Item.vue';
export default ({
  name: 'MoviesList',
  props: {
    list: {
      type: Object
    }
  },
  components: {
    Item
  },
  computed: {
    isExist() {
      return Boolean(Object.keys(this.list).length);
    }
  }
})
</script>
<style>
.container {
  width: 900px;
  margin-right: auto;
  margin-left: auto;
}
</style>